#idAccounts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

#idDivReport {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  text-align: left;
}