body {
    font-family:'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
#idContBody {
    display: flex;
    flex-direction: column;
    align-content: center;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #idContBody {
        width: 50%;
    }
}
header {
    display: flex;
    justify-content: space-between;
}