body {
    font-family:'Roboto', sans-serif;
    margin:0;
}
#idContBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header, footer {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    background-color: cornflowerblue;
    width:100%;
}
header div, footer div {
    margin: 1em;
}
footer {
    font-size: 0.8em;
}
main {
    padding: 1em;
    height: 100%;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    main {
        width: 60%;
    }
}
.classRow {
    margin: 0 0 0.5rem 0;
}
.input-group {
    margin-right: 4px;
}
.classDivInput {
    display: flex;
}
.classDivInput .btn {
    flex-shrink: 0;
}
output {
    font-size: 2em;
}
.classDivDynamic {
    display: none;
}
#idDivReport {
    justify-content: space-between;
}